
<style>
    .margins{
        margin-bottom: 10px;
    }
</style>
<form class="form" ng-controller="contactusCntrl" name="contactinfo" ng-submit="contactinfo.$valid && submit()">
<div class="container-fluid">
<div class ="row" style="margin: 10px;">
        <div class="col-sm-12">
            <div style="float: right"><input value="SAVE" type="submit" class="save_btn"/></div>
        </div>
    </div>
       <!-- <div class="container-fluid">-->
    <div class="row margins">
                <div class="col"><div class="col-sm-5">
                <label>PHONE NUMBER</label><br>
                <input type="text" class="form-control" ng-model="account.mobile_num" name="phone" ui-mask="(999) 999-9999">
                <!--<span class="error" ng-show="contactinfo.phone.$invalid" style="color:red">Please Enter phone Number</span>-->
            </div></div>
                <div class="col"><div class="col-sm-5">
                <label>EMAIL ADDRESS</label><br>
                <input type="email" placeholder="Email" name ="email" required class="form-control" ng-model="account.emailid" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                <span class="error" ng-show="contactinfo.email.$error.pattern" style="color:red">This Email is Invalid</span>
            </div></div>
    </div>
            <div style="border:none" >
                <div>
                <div class ="row margins"><div class="col"> <div class="col-sm-6" style="margin-top: 10px;"><label>ADDRESS</label></div></div></div>
    <div class ="row margins">
        <div class="col"> <div class="col-sm-6">
                <input type="text" name="address1" class="form-control" ng-model="account.address1" ng-pattern="/^[A-Za-z0-9 -#'.-]*$/" >
                            <label class="labelAddress">Street Address</label><br>
                <span data-ng-if="contactinfo.address1.$error.pattern" class="error" style="color:red">Please avoid Special Characters</span>
            </div></div>
                </div>
                <div class ="row margins">
        <div class="col"><div class="col-sm-6">
                <input type="text" name="address2" class="form-control" ng-model="account.address2" ng-pattern="/^[A-Za-z0-9 -#'.-]*$/" >
                            <label class="labelAddress">Street Address Line 2</label><br>
                <span data-ng-if="contactinfo.address2.$error.pattern" class="error" style="color:red">Please avoid Special Characters</span>
            </div></div>
    </div>
    <div class ="row margins">
                    
                    
                        <div class="col"><div class="col-sm-3">
                 <input type="text" name="city" class="form-control" ng-model="account.City" ng-pattern="/^[A-Za-z -]*$/">
                            <label class="labelAddress">City</label><br>
                 <div data-ng-if="contactinfo.city.$error.pattern" class="error" style="color:red">Please enter valid City</div>
             </div></div>
                    <div class="col"><div class="col-sm-3">
                 <select class="form-control" ng-model="account.State">
                                <option ng-repeat="option in data_options.states" value="{{option.selectVal}}">{{option.selectText}}</option>
                            </select>
                            <label class="labelAddress"> State / Province </label>
             </div></div>
                </div>
    <div class ="row margins">
                    <div class="col"> <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="account.Zip" name="zipcode" ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/">
                            <label class="labelAddress">Postal / Zip Code</label><br>
                <span class="error" ng-show="contactinfo.zipcode.$error.pattern" style="color:red">This Zipcode is Invalid</span>
            </div></div>
                    <div class="col"><div class="col-sm-3">
                            <select class="form-control" ng-model="account.Country" ng-change="getStates(account.Country)">
                                <option ng-repeat="option in data_options.countries" value="{{option.selectVal}}">{{option.selectText}}</option>
                            </select>
                            <label class="labelAddress">Country</label>
                        </div></div>
                </div>
                <div class ="row margins">
                    
        <div class="col"><div class="col-sm-6">
                <label>SET AS DEFAULT CONTACT</label><br>
                <input type="checkbox" ng-model="account.DefaultContacts_form">
            </div></div>
    </div>
                <div class ="row margins">
</div>
               
            </div>
        </div>
       <!-- </div>-->
<div class ="row" style="margin: 20px;">
        <div class="col-sm-12">
            <div style="float: right"><input value="SAVE" type="submit" class="save_btn"/></div>
        </div>
    </div>
</div>
</form>