/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Jul, 2017, 5:15:17 PM
    Author     : MSI1374
*/

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}
.uib-daypicker .btn, .input-group-btn .btn{
    color:#000000 !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top:0px !important;
}
.table>thead>tr>th{
    border-bottom:0px !important;
}

.input-disabled{
    background-color:#FFF !important;
} 
.unsaved{
    color: red;
    font-size: 11.5px;
    /* float: left; */
    margin-top: -40px;
    float: right;
    /* display: none;*/
}

li.uib-tab.nav-item.ng-scope.ng-isolate-scope {margin: 0px;}
/*input#save1 {background-color: #f5b3d1;color: #fff;border: none;display: inline;border-radius: 0px;margin: 0.5em 0;}*/

.accept.panel-primary{border-color:#008000;}
.accept.panel-primary > .panel-heading{background-color: #008000;border-color: #008000;}

.reject.panel-primary{border-color:#cc6600;}
.reject.panel-primary > .panel-heading{background-color: #cc6600;border-color: #cc6600;}
