<style>
    .margins{
        margin-bottom: 10px;
    }
</style>
<form class="form" ng-controller="aboutUsController" name="aboutus" ng-submit="aboutus.$valid && submit()">
<!--<div ng-controller="aboutUsController" >-->
<div class="container-fluid" >
    <div class ="row" style="margin-top: 10px;margin-bottom:25px">
        <div class="col-sm-12">
            <div style="float: right"><input value="save"  class="save_btn" type="submit"/></div>
        </div>
    </div>
    <div class="row margins">
        <div class="col">
        	<div class="col-sm-4">
                <label>HOW LONG YOU HAVE BEEN WAITING</label>
            <br>
            <select ng-model="account.waiting" class="form-control">
    			<option ng-repeat="option in data_options.waiting" value="{{option.selectVal}}">
    				{{option.selectText}}
    			</option>
    		</select>	
        </div>
        </div>
        <div class="col"><div class="col-sm-4">
                <label>FAMILY STRUCTURE</label><br>
                <select class="form-control" ng-model="account.family_structure">
						<option ng-repeat="option in data_options.family_structure" value="{{option.selectVal}}">
							{{option.selectText}}
						</option>
					</select>
            </div></div>
        <div class="col"><div class="col-sm-4">
                <label>HOW MANY CHILDREN DO YOU HAVE?</label><br>
               		<select ng-model="account.children" class="form-control">
		    			<option ng-repeat="option in data_options.children" value="{{option.selectVal}}">
		    				{{option.selectText}}
		    			</option>
		    		</select>	
            </div></div>
    </div>

    <div class="row margins">
        <div class="col"><div class="col-sm-4">
                <label>WHAT STYLE OF HOUSE DO YOU OWN?</label><br>
               <select class="form-control" ng-model= "account.house_style">
						<option ng-repeat="option in data_options.residency" value="{{option.selectVal}}">
							{{option.selectText}}
						</option>
					</select>
            </div></div>
        <div class="col"><div class="col-sm-4">
                <label>WHAT IS YOUR NEIGHBORHOOD LIKE?</label><br>
                <select class="form-control" ng-model= "account.neighborhood">
                    <option ng-repeat="option in data_options.neighborhood" value="{{option.selectText}}">
                        {{option.selectText}}
                    </option>
                </select>
            </div></div>
        <div class="col"><div class="col-sm-4">
                <label>WHAT TYPE OF PET DO YOU HAVE?</label><br>
                <select class="form-control" multiple="true" ng-model="account.pets">
                    <option ng-repeat="option in data_options.pets" value="{{option.selectText}}">{{option.selectText}}</option>
                </select>
            </div></div>
    </div>

</div>
<div class="container-fluid">
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Person 1 - First Name</label><br>
                <input type="text" name="firstname" ng-model="account.profiles[0].name" class="form-control" required/>
                <span class="error" ng-show="aboutus.firstname.$error.required" style="color:red">First Name is Required</span>
            </div></div>
        <div class="col" ><div class="col-sm-6" ng-show="account.profile_type == 'couple'">
                <label>Person 2 - First Name</label><br>
                <input type="text" name="secondname" ng-model="account.profiles[1].name" class="form-control" required/>
                <span class="error" ng-show="aboutus.secondname.$error.required" style="color:red">Second Name is Required</span>
            </div></div>
    </div>
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Parent 1 - Date of Birth</label><br>
                <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ui-mask="99/99/9999"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
            </div></div>
        <div class="col"><div class="col-sm-6" ng-show="account.profile_type == 'couple'">
                <label>Parent 2 - Date of Birth</label><br>
                <p class="input-group">
                     <input type="text" width= "80%" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"  ng-click="open2()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div></div>
    </div>
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Parent 1 - Gender</label><br>
                <select ng-model="account.profiles[0].gender" class="form-control">
                    <option value="male">Man</option>
                    <option value="female">Woman</option>
                </select>
            </div></div>
        <div class="col"><div class="col-sm-6" ng-show="account.profile_type == 'couple'">
                <label>Parent 2 - Gender</label><br>
                <select ng-model="account.profiles[1].gender" class="form-control">
                    <option value="male">Man</option>
                    <option value="female">Woman</option>
                </select>
            </div></div>
    </div>
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Parent 1 - Ethnicity</label><br>
                <select ng-model="account.profiles[0].ethnicity" class="form-control">
                    <option ng-repeat="option in data_options.ethnicity" value="{{option.selectVal}}">{{option.selectText}}</option>
                </select>
            </div></div>
        <div class="col"><div class="col-sm-6" ng-show="account.profile_type == 'couple'">
                <label>Parent 2 - Ethnicity</label><br>
                <select ng-model="account.profiles[1].ethnicity" class="form-control">
                    <option ng-repeat="option in data_options.ethnicity" value="{{option.selectVal}}">
                        {{option.selectText}}
                    </option>
                </select>
            </div></div>
    </div>
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Parent 1 - Education</label><br>
                <select ng-model="account.profiles[0].education" class="form-control">
                    <option ng-repeat="option in data_options.education" value="{{option.selectVal}}">
                        {{option.selectText}}
                    </option>
                </select>
            </div></div>
        <div class="col"><div class="col-sm-6" ng-show="account.profile_type == 'couple'">
                <label>Parent 2 - Education</label><br>
                <select ng-model="account.profiles[1].education" class="form-control">
                   <option ng-repeat="option in data_options.education" value="{{option.selectVal}}">
                        {{option.selectText}}
                    </option>
                </select>
            </div></div>
    </div>
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Parent 1 - Religion</label><br>
                <select ng-model="account.profiles[0].religion"  class="form-control">
                    <option ng-repeat="option in data_options.religion" value="{{option.selectVal}}">
                        {{option.selectText}}
                    </option>
                </select>
            </div></div>
        <div class="col"><div class="col-sm-6" ng-show="account.profile_type == 'couple'">
                <label>Parent 2 - Religion</label><br>
                <select ng-model="account.profiles[1].religion"  class="form-control">
                    <option ng-repeat="option in data_options.religion" value="{{option.selectVal}}">
                        {{option.selectText}}
                    </option>
                </select>
            </div></div>
    </div>
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Parent 1 - Occupation</label><br>
                <input type="text" ng-model="account.profiles[0].occupation"  class="form-control"/>
            </div>
        </div>
        <div class="col"><div class="col-sm-6" ng-show="account.profile_type == 'couple'">
                <label>Parent 2 - Occupation</label><br>
                <input type="text" ng-model="account.profiles[1].occupation" class="form-control" />
            </div></div>
    </div>
    <div class="row margins">
        <div class="col"><div class="col-sm-6">
                <label>Social Website</label><br>
                <input type="text" ng-model="account.website"  class="form-control"/>
            </div>
        </div>
        <div class="col">
            <div class="col-sm-6">
                <div style="float: right; margin-top:15px"><input value="save"  class="save_btn" type="submit"/></div>
                
            </div></div>
    </div>
</div>
</form>  
<!--</div>-->