<div ng-controller="changePasswordCntrl"> <!--ng-click="$parent.newFn(changepassword.$dirty, 2)"-->
    <form class="form" name="changepassword" ng-submit="changepassword.$valid && submit()">
        <div class="container-fluid" style="margin-left: 10px;">
            <div class ="row" style="margin-top: 10px;">
                <div class="col-sm-12">
                    <div style="float: right">
                        <input ng-if="show" value="CANCEL" type="BUTTON" ng-click = "resetChangePassword();" class="cancel_btn" ng-disabled="disabled" id="cancel4" />&nbsp;&nbsp;
                        <!--<input ng-if="show" value="CANCEL" type="BUTTON" ng-click = "contactinfo.$setPristine();" class="cancel_btn" ng-disabled="disabled" id="cancel" />&nbsp;&nbsp;-->
                        <input ng-if="show" value="SAVE" type="submit" class="save_btn" ng-disabled="disabled" id="save4"/></div>
                </div>
            </div>

            <div class ="row margins">
                <div class="form-group" ng-class="{ 'has-error' : isInputInvalid(changepassword.current_password), 'has-success' : isInputVald(changepassword.current_password) }">
                    <label for="current_password">Current Password</label>
                    <input type="password" class="form-control" id="current_password" name="current_password" placeholder=":Current Password" required ng-model="current_password" />
                    <span class="error" ng-show="changepassword.current_password.$error.required && changepassword.current_password.$dirty" style="color:red">This field is Required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : isInputInvalid(changepassword.user_password), 'has-success' : isInputVald(changepassword.user_password) }">
                    <label for="user_password">New Password</label>
                    <input type="password" class="form-control" id="user_password" name="user_password" placeholder=":New Password" required ng-model="user_password" ng-minlength="6" ng-maxlength="13" />
                    <span class="error" ng-show="changepassword.user_password.$error.required && changepassword.user_password.$dirty" style="color:red">This field is Required</span>
                    <span class="error" ng-show="changepassword.user_password.$error.minlength && changepassword.user_password.$dirty" style="color:red">Too short</span>
                    <span class="error" ng-show="changepassword.user_password.$error.maxlength && changepassword.user_password.$dirty" style="color:red">Too Long</span>
                    
                    <!--<label class="labelAddress">To conform with our Strong Password policy, you are required to use a sufficiently strong password. Password must be more than 7 characters.</label>-->
                    <!--<p ng-class="{'text-success': isPasswordStrong(), 'text-warning': isPasswordOk(), 'text-danger': isPasswordWeak()}">{{isPasswordStrong() ? 'Strong' :  (isPasswordOk() ? 'Weak' : (isPasswordWeak() &&  passwordStrength >0 ? 'Too short' : ''))}}</p>-->
                    <div class="progress" style="margin-top:10px;height: 2px;">
                        <div class="progress-bar"
                             ng-class="{'progress-bar-success': isPasswordStrong(), 'progress-bar-warning': isPasswordOk(), 'progress-bar-danger': isPasswordWeak()}"
                             aria-valuenow="{{ passwordStrength}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:{{ passwordStrength}}%">

                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : isInputInvalid(changepassword.confirm_password), 'has-success' : isInputVald(changepassword.confirm_password) }">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder=":New Password" required ng-model="confirm_password" pw-check="user_password" />
                    <span class="error" ng-show="changepassword.confirm_password.$error.required && changepassword.confirm_password.$dirty" style="color:red">This field is Required</span>
                    <span class="error" ng-show="changepassword.confirm_password.$error.pwmatch">Password not Match</span>
                </div>
            </div>

            <div class ="row margins">
                <div class="col-sm-12">
                    <div style="float: right">
                        <input ng-if="show" value="CANCEL" type="BUTTON" ng-click = "resetChangePassword();" class="cancel_btn" ng-disabled="disabled" id="cancel_bottom4" />&nbsp;&nbsp;
                        <!--<input ng-if="show" value="CANCEL" type="BUTTON" ng-click = "contactinfo.$setPristine();" class="cancel_btn" id="cancel_bottom" ng-disabled="disabled"/>&nbsp;&nbsp;-->
                        <input ng-if="show"  value="SAVE" type="submit" class="save_btn" id="save_bottom4" ng-disabled="disabled"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
