<style>
    .margins{
        margin-bottom: 10px;
    }
</style>
<div ng-controller="contactusCntrl" ng-click="$parent.newFn(contactinfo.$dirty, 2)">
    <form class="form" name="contactinfo" ng-submit="contactinfo.$valid && submit()">
    <div class="container-fluid" style="margin-left: 10px;">
<div class ="row" style="margin-top: 10px;">
	<div class="col-sm-9">
                    <label>The contact information provided on this page is PRIVATE and not shared with anyone.<br>This information is <b>ONLY</b> used by ParentFinder staff to contact you.</label><br><br>
        </div>

                <div class="col-sm-3">
		    <div style="float: right">
                        <input ng-if="show" value="CANCEL" type="BUTTON" ng-click = "contactinfo.$setPristine();" class="cancel_btn" ng-disabled="disabled" id="cancel" />&nbsp;&nbsp;
                        <input value="SAVE" type="submit" class="save_btn" ng-if="show" ng-disabled="disabled" id="save"/></div>
        </div>
    </div>
       <!-- <div class="container-fluid">-->

            <!-- <div class="row margins">
                <div class="col">
                    <div class="col-sm-6">
                        <label>PHONE NUMBER</label>&nbsp;<span class="mandatory">*</span><br>
                        <input type="text"  class="form-control" ng-model="account.mobile_num" name="phone" ui-mask="(999) 999-9999" required ng-keyup="$parent.newFn(contactinfo.$dirty, 2)">
                        <span class="error" ng-if="contactinfo.phone.$error.required && contactinfo.phone.$dirty" style="color:red">Phone number is required</span>
            </div>
                </div>

            </div> -->
            <div class="row margins">
                <div class="col">
                    <div class="col-sm-6">
                        <label>EMAIL ADDRESS</label>&nbsp;<span class="mandatory">*</span><br>
                        <input type="text" placeholder="Email" ng-keyup="$parent.newFn(contactinfo.$dirty, 2)" name ="email" required class="form-control" ng-model="account.emailid" ng-pattern="/^[\S]+[\S]+@[a-zA-Z]+\.[\S.]{2,5}$/">
                        <span data-ng-if="contactinfo.email.$error.pattern" class="error" style="color:red">This email is invalid</span>
                        <span class="error" ng-show="contactinfo.email.$error.required && contactinfo.email.$dirty" style="color:red">Emailid is required</span>
                    </div>
                </div>
    </div>
            <div style="border:none" >
                <div>
                    <div class ="row margins"><div class="col"> <div class="col-sm-6" style="margin-top: 10px;"><label>ADDRESS</label>&nbsp;<span class="mandatory">*</span></div></div></div>
    <div class ="row margins">
                        <div class="col">
                            <div class="col-sm-6">
                                <input type="text" name="address1" class="form-control" ng-model="account.address1"  required ng-keyup="$parent.newFn(contactinfo.$dirty, 2)">
                            <label class="labelAddress">Street Address</label><br>
                                <!--<span data-ng-if="contactinfo.address1.$error.pattern" class="error" style="color:red">Please avoid Special Characters</span>-->
                                <span class="error" ng-show="contactinfo.address1.$error.required && contactinfo.address1.$dirty" style="color:red">Please enter street address</span>
                            </div>
                        </div>
                </div>
                <div class ="row margins">
                        <div class="col">
                            <div class="col-sm-6">
                                <input type="text" name="address2" class="form-control" ng-model="account.address2" ng-keyup="$parent.newFn(contactinfo.$dirty, 2)" >
                            <label class="labelAddress">Street Address Line 2</label><br>
                                <!--<span data-ng-if="contactinfo.address2.$error.pattern" class="error" style="color:red">Please avoid Special Characters</span>-->
                            </div>
                        </div>
    </div>
    <div class ="row margins">
                        <div class="col">
                            <div class="col-sm-3">
                                <input type="text" name="city" class="form-control" ng-model="account.City" required ng-keyup="$parent.newFn(contactinfo.$dirty, 2)">
                            <label class="labelAddress">City</label><br>
                                <!--<div data-ng-if="contactinfo.city.$error.pattern" class="error" style="color:red">Please enter valid City</div>-->
                                <span class="error" ng-show="contactinfo.city.$error.required  && contactinfo.city.$dirty" style="color:red">Please enter city</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="account.State" required name="state" ng-disabled="disable" ng-change="stateChange()">
                                <option ng-repeat="option in data_options.states" value="{{option.selectVal}}">{{option.selectText}}</option>
                            </select>
                                <label class="labelAddress"> State / Province </label><br>
                                <!--<span class="error" ng-show="contactinfo.state.$error.required && contactinfo.state.$dirty" style="color:red">Please select state</span>-->
                                <span class="error" ng-show="(contactinfo.state.$error.required || account.State == '0')" style="color:red">Please select state</span>
                            </div>
                        </div>
                </div>
    <div class ="row margins">
                        <div class="col">
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="account.Zip" name="zipcode" required ng-keyup="$parent.newFn(contactinfo.$dirty, 2)">
                            <label class="labelAddress">Postal / Zip Code</label><br>
                                <!--<span class="error" ng-show="contactinfo.zipcode.$error.pattern" style="color:red">This Zipcode is Invalid</span>-->
                                <span class="error" ng-show="contactinfo.zipcode.$error.required && contactinfo.zipcode.$dirty" style="color:red">Please enter Zip</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="account.Country" ng-change="getStates(account.Country)" required>
                                <option ng-repeat="option in data_options.countries" value="{{option.selectVal}}">{{option.selectText}}</option>
                            </select>
                            <label class="labelAddress">Country</label>
                </div>
                        </div>
                    </div>
                <div class ="row margins">
                    <div class="col">
                        <div class="col-sm-6" ng-show="account.Country == 183">
                            <label>PHONE NUMBER</label>&nbsp;<span class="mandatory">*</span><br>
                            <input type="text"  class="form-control" ng-model="account.mobile_num" name="phone" ui-mask="(999) 999-9999" required ng-keyup="$parent.newFn(contactinfo.$dirty, 2)">
                            <span class="error" ng-show="contactinfo.phone.$error.required && contactinfo.phone.$dirty" style="color:red">Phone number is required</span>


                        </div>
                        <div class="col-sm-6" ng-show="account.Country != 183">
                            <label>PHONE NUMBER</label>&nbsp;<span class="mandatory">*</span><br>
                            <!--<input type="text"  class="form-control" ng-model="account.mobile_num" name="phone" ng-intl-tel-input data-default-country='gb'>-->
                            <input type="text" class="form-control" id="phn" data-toggle="tooltip" title="Enter your country code prefix to your number" ng-keyup="$parent.newFn(contactinfo.$dirty, 2)" placeholder="Enter your country code prefix to your number" ng-pattern="/^[+ 0-9]*$/" required ng-maxlength="18" ng-minlength="10" name="phone" ng-model="account.mobile_num" >
			    <span class="error" ng-show="contactinfo.phone.$error.required && contactinfo.phone.$dirty" style="color:red">Phone number is required</span>
                            <span class="error" ng-show="(contactinfo.phone.$error.pattern || !contactinfo.phone.$valid) && contactinfo.phone.$dirty" style="color:red">Please enter a valid phone number</span>
                        </div>
                    </div>
                </div>
                <div class ="row margins">

                        <div class="col">
                            <div class="col-sm-3">
                            <label>SET AS DEFAULT CONTACT</label>&nbsp;  
                <input type="checkbox" ng-model="account.DefaultContacts_form">
                            </div>
                        </div>
                        <div class="col">
                            <div class="col-sm-3">
                                <label>By checking this box your email address and phone number listed above will be displayed for contact on public pages. Validate this with your agency or attorney prior to selecting.</label>&nbsp;  
                            </div>
                        </div>
    </div>
                <div class ="row margins">
</div>
            </div>
        </div>
       <!-- </div>-->
<div class ="row margins">
        <div class="col-sm-12">
                    <div style="float: right">
			<input ng-if="show" value="CANCEL" type="BUTTON" ng-click = "contactinfo.$setPristine();" class="cancel_btn" id="cancel_bottom" ng-disabled="disabled"/>&nbsp;&nbsp;
                        <input value="SAVE" type="submit" class="save_btn" ng-if="show" id="save_bottom" ng-disabled="disabled"/>
                    </div>
        </div>
    </div>
</div>
</form>
</div>