<div class="table-responsive form-group">
		  <table class="table">
		    <tbody>
			<tr><td colspan="2">&nbsp;</td></tr>
		      <tr>
				<td>WHAT STYLE OF HOUSE DO YOU OWN?</td>
				<td>WHAT IS YOUR NEIGHBORHOOD LIKE?</td>
			</tr>
			<tr>
				<td>
					<select class="form-control" ng-model= "ffields.Profiles.housestyle">
						<option ng-repeat="option in ffields.residense" value="{{option.Residency_text}}">
							{{option.Residency_text}}
						</option>
					</select>
				
				</td>
				<td>
					<select class="form-control" ng-model="ffields.Profiles.neighbourhoodlike">
						<option ng-repeat="option in ffields.neighborhood" value="{{option.Neighborhood_text}}">
							{{option.Neighborhood_text}}
						</option>
					</select>
				
				</td>
				
			</tr>
			<tr><td>PET</td><td>&nbsp;</td></tr>
			<tr>
				<td colspan="2">
					<select class="form-control" multiple="true" ng-model="petsSelected">
						<option ng-repeat="option in ffields.pets" value="{{option.Pet_text}}">{{option.Pet_text}}</option>

					</select>
				</td>
			</tr>
			
			</tbody>
			</table>
</div>
				