<style>
    .margins{
        margin-bottom: 10px;
    }
</style>
<div class="container-fluid" ng-controller="childPrefCntrl"  ng-click="$parent.newFn(aboutchild.$dirty, 1)">
    <form class="form"  name="aboutchild" ng-submit="aboutchild.$valid && submit()">
        <div class ="row" style="margin-top: 10px; margin-bottom:25px">
            <div class="col-sm-12">
                <div style="float: right">
                    <input ng-if="show" value="CANCEL" type="BUTTON" ng-click ="aboutchild.$setPristine();" class="cancel_btn" ng-disabled="disabled" id="cancel1"/>&nbsp;&nbsp;
		    <input ng-if="show" type="submit" value="SAVE"  class="save_btn" ng-disabled="disabled" id="save1"/></div>
            </div>
        </div>
        <div class="row margins">
            <div class="col">
                <div class="col-sm-6">
                    <label>GENDER</label><br>
                    <select class="form-control" ng-model="account.genderPref">
                        <option ng-repeat="option in data_options.gender" value="{{option.selectVal}}">{{option.selectText}}</option>
                    </select>
                </div>
            </div>
            <div class="col"><div class="col-sm-6">
                    <label>NUMBER OF CHILDREN DESIRED</label><br>
                    <select class="form-control" ng-model="account.child_desired" multiple ng-click="getSelect('child_desired')">
                        <!--<select class="form-control" ng-model="account.child_desired" multiple="multiple" id="child_desired">-->
                        <option ng-repeat="option in data_options.child_desired" value="{{option.selectVal}}">{{option.selectText}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row margins">
            <div class="col">
                <div class="col-sm-6">
                    <label>AGE PREFERENCE</label><br>
                    <select class="form-control" multiple="true" ng-model="account.age_group_pref" ng-click="getSelect('age_group')" >
                        <option ng-repeat="option in data_options.age_group" value="{{option.selectVal}}">
                            {{option.selectText}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="col-sm-6">
                    <label>ETHNICITY PREFERENCE</label><br>
                    <select class="form-control" multiple="true" ng-model="account.ethnicityprefs" ng-click="getSelect('ethnicity')" >
                        <option ng-repeat="option in data_options.ethnicity" value="{{option.selectVal}}">{{option.selectText}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row margins">
            <div class="col">
                <div class="col-sm-6">
                    <label>ADOPTION TYPE</label><br>
                    <select class="form-control" multiple="true" ng-model="account.adoption_type_pref" ng-click="getSelect('adoption_type')">
                        <option ng-repeat="option in data_options.adoption_type" value="{{option.selectVal}}">{{option.selectText}}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="col-sm-6">
                    <label>BIRTH FATHER STATUS</label><br>
                    <select class="form-control" multiple="true" ng-model="account.birthfatherPrefs" ng-click="getSelect('birthfather_status')">
                        <option ng-repeat="option in data_options.birthfather_status" value="{{option.selectVal}}">{{option.selectText}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row margins">
            <div class="col">
                <div class="col-sm-6">
                    <label>SPECIAL NEEDS&nbsp;&nbsp;</label><br>
                    <label class="radio-inline"><input type="radio" value="yes" name="special_need" ng-model="account.special_need">Yes&nbsp;</label>
                    <label class="radio-inline"><input type="radio" value="no" name="special_need" ng-model="account.special_need">No</label>
                </div>
            </div>
        </div>
        <div class="row margins">
            <div class="col">
                <div class="col-sm-6">
                    <div ng-show="account.special_need == 'yes'" ng-hide="account.special_need == 'no'">
                        <label>SPECIAL NEED OPTIONS</label><br>
                        <select multiple="true" class="form-control" ng-model="account.special_needs">
                            <option ng-repeat="option in data_options.special_need" value="{{option.selectVal}}">{{option.selectText}}</option>

                        </select>
                    </div>
                </div>
            </div> 
        </div>
        <div class ="row" style="margin-top: 25px; margin-bottom:15px">
            <div class="col-sm-12">
                <div style="float: right">
                    <input ng-if="show" value="CANCEL" type="BUTTON" ng-click ="aboutchild.$setPristine();" class="cancel_btn" id="cancel_bottom1" ng-disabled="disabled"/>&nbsp;&nbsp;
                    <input type="submit" ng-if="show" value="SAVE"  class="save_btn" id="save_bottom1" ng-disabled="disabled"/>
                </div>
            </div>
        </div>
    </form>
</div>		  